{{key}}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Instrument</th>
        <th scope="col">Document number</th>
        <th scope="col">Tag</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{name}}</td>
        <td>{{docNumber}}</td>
        <td><div style="display:inline-block; padding: 2px;" *ngFor="let t of tagArray"><h2><span class="badge badge-secondary">{{t}}</span></h2></div></td>
</table>

<p></p>

  <div>
  <h3><b>Description</b></h3>
  <div [innerHTML]="description"></div>
  <!-- <div><p>{{description}}"></p></div> -->
  <p></p>
  </div>

  <div *ngFor=" let u of uncertaintyTable; let y = index;">
      <h3><b>Case:</b> </h3>
    <div [innerHTML]="u.case">
  </div>


  <div *ngFor="let ix of u.imagePaths; let x=index">
    <img src="{{ix.imagePath}}" class="img-fluid rounded mx-auto d-block" alt="{{x}}">
    <p></p>
    {{ix.imageName}}
  </div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Estimate</th>
      <th scope="col">PDF</th>
      <th scope="col">Divisor</th>
      <th scope="col">Std.Uncertainty</th>
      <th scope="col">Sensitivity Coeff.</th>
      <th scope="col">Std.Uncertainty</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of u.contributions; let i=index">
      <td># {{i}}</td>
      <td>{{c.title}}</td>
      <td>{{c.estimate}}</td>
      <td > {{this.pdfText[c.pdf]}} </td>
      <td>{{c.pdf}}</td>
      <td>{{c.estimate/c.pdf}}</td> 
      <td>{{c.sc}}</td>
      <td>{{c.sc*(c.estimate/c.pdf)}}</td>
    </tr>
  </tbody>
</table>
<div style="text-align: right; background-color:rgb(217, 240, 255)">
  <h3 style="padding: 0.75em;"><b>Total Standard Uncertainty: {{this.totalStdUnc[y]}}</b></h3>
</div>
<p></p>
<div style="text-align: right; background-color:rgb(217, 240, 255)">
  <h3 style="padding: 0.75em;"><b>Expanded Standard Uncertainty (k=2, p = 95%): {{this.totalStdUnc[y]*2}}</b></h3>
</div>
</div>