<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Knowledge Academy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <!-- Add shopping cart menu here -->
      </ul>

      <ul class="navbar-nav">
        <ng-template #anonymousUser>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
          </li> 
        </ng-template> 
        <li ngbDropdown *ngIf="auth.user$ | async as user; else anonymousUser" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.displayName}}</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="pictures/gallery">Upload pictures</a>
            <a class="dropdown-item" routerLink="/admin/instruments-list">Instruments List</a>
            <a class="dropdown-item" routerLink="/admin/uncertainty-page">Uncertainty Page</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>
