<p>
    <button class="btn btn-primary" routerLink="/admin/instrument-page/new">New Instrument</button>
</p>


 
<table class="table" >
    <thead>
        <tr>
            <th>Instrument name</th>
            <th>Document Number</th>

            <th>Edit</th>
            <th>View</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody *ngFor="let i of instruments$ | async; let n = index" >
        <tr >
            <td>{{ i['instrument_details'].name }}</td>
            <td>{{ i['instrument_details'].docNumber }}</td>
            <td> <button class="btn btn-primary" [routerLink]="['/admin/instrument-page/', i.key ]" >Edit

            </button></td>
            <td> <button class="btn btn-success" [routerLink]="['/admin/instrument-page-view/', i.key]" >View
            </button></td>

            <td> <button class="btn btn-danger " type="button" (click)="delete(i.key)">Delete
            </button></td>
        </tr>
    </tbody>
</table> 