
.table th{
    color:#191c1d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-primary {
border-radius:40px;
border-color: #1b9bd7;
border-width: 1px;
color:#1b9bd7;
background-color: transparent;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
clip-path: polygon(-25% -25%,125% -25%,125% 125%,22px 125%,22px 100%,0 50%,-25% 50%);
}

.btn-success {
    border-radius:40px;
    border-color: #3ad71b;
    border-width: 1px;
    color:#3ad71b;
    background-color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    clip-path: polygon(-25% -25%,125% -25%,125% 125%,22px 125%,22px 100%,0 50%,-25% 50%);
    }

.btn-danger {
    border-radius:40px;
    border-color: #ff0606;
    border-width: 1px;
    color:#ff0606;
    background-color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    clip-path: polygon(-25% -25%,125% -25%,125% 125%,22px 125%,22px 100%,0 50%,-25% 50%);
    }