


<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="c:\AngularProjects\umea\pics\instruments.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Third slide">
      </div>
    </div>
  </div> -->
<div class="jumbotron">
<p></p>
    <h1>3DScanner Knowledge Academy</h1>
    <p class="lead">3DScanner Knowledge Academy is a place you find everything about dimensional metrology. Best measurement practices with associated measurement uncertainty budgets
    make you understand the measurement process and each influencing factors</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Choose the instrument you are using at your laboratory or shop floor and see how to use it, what to consider while you performing meausurement and how to evaluate to get reliable measurement results.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Subscribe</h2>
        <p>Choose one of the subscription program and get access to all the knowledge to become a metrology engineer. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Build your own uncertainty budget</h2>
        <p>Use our instant uncertainty budget calculator and print your own uncertainty budget. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
